<div fxLayout='row' *ngIf='state.subjectList'>
    <mat-form-field fxFlex='40%' appearance="outline">
        <mat-label>Select Subject</mat-label>
        <mat-select [(value)]="state.selectedSubject" (selectionChange)="getBySubject()">
            <mat-option *ngFor='let item of state.subjectList' value="{{item}}">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<br /><br />
<div *ngIf="state.tableData">
    <app-data-table [data]="state.tableData" [config]="state.tableConfig"></app-data-table>
</div>