<h2>Show English quiz</h2>
<button (click)="getData()">getQuiz</button>
<br/>
<br/>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="quizzes">
    <thead>
      <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizzes">
        <td>{{ quiz.id }}</td>
        <td>{{ quiz.complexcity }}</td>
        <td>{{ quiz.question?.questionText }}</td>
        <td>{{ quiz.subject }}</td>
      </tr>
    </tbody>
  </table>